@model Nhatngu.Models.TblAcc
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label label-success">0</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">0 Tin nhắn</li>
                    <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-warning">0</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">0 thông báo</li>
                    <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-flag-o"></i>
                    <span class="label label-danger">1</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">1 Update</li>
                    <li class="footer">
                        <a href="#">View all tasks</a>
                    </li>
                </ul>
            </li>
            @if (Session["NameUser"] != null)
            {
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/Assets/dist/img/logo.png" class="user-image" alt="User Image">
                    <span class="hidden-xs">@Html.DisplayFor(x => x.NameAcc)</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="@Html.DisplayFor(x=>x.Img)" class="img-circle" alt="User Image">

                        <p>
                            @Html.DisplayFor(x=> x.NameAcc)

                            <small>@Html.DisplayFor(x => Model.peracc.NamePer)</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Theo dõi</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Bạn bè</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Chỉnh sửa thông tin</a>
                        </div>
                        <div class="pull-right">
                                @(Html.ActionLink("Thoát", "Logout", "Login",null, new { @class = "btn btn-default" }))
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
            }
        </ul>
    </div>

</nav>
